@using Microsoft.AspNet.Identity;

<li class="dropdown">
    @{
        string imageSrc = String.Empty;
        string imageAlt = String.Empty;
        string userLabel = Session["userName"]?.ToString();
        string loginMessage = String.Empty;

        if (String.IsNullOrEmpty(userLabel))
        {
            userLabel = "Login";
            imageSrc = "/Resources/LoginIcon.png";
            imageAlt = "Login Icon";
        }
        else
        {
            imageSrc = "/Content/profileImages/" + @Session["imageSrc"];
            imageAlt = Session["userName"]?.ToString();
        }

        if (Session["failedLogins"]?.ToString() == "4")
        {
            loginMessage = "The number of unsuccessful login attempts has been reached. Please try again later.";
        }
        else if (Session["failedLogins"] != null)
        {
            loginMessage = "The user name and/or password is invalid.";
        }
    }
    @{
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="accountProfileButton">
            <img src="@imageSrc" alt="@imageAlt" height="50" width="50"><br>
            <text>@userLabel</text>
        </a>

        <span href="#" class="dropdown-menu" id="accountDropdown">

            @if (userLabel == "Login")
            {
                if (Session["failedLogins"]?.ToString() != "4")
                {
                    using (Html.BeginForm("LoginValidation", "Account", FormMethod.Post, new { id = "login", @class = "dropdown" }))
                    {
                        @Html.AntiForgeryToken()

                        <input type="text" placeholder="User name" id="username" name="username"><br>
                        <input type="password" placeholder="Password" id="password" name="password"><br>

                        <button>Login</button>
                    }
                }

                <span>
                    <text>@loginMessage</text>
                </span>
            }
            else
            {
                @Html.ActionLink("Add/Change Staff", "Index", "Staffs")<br>

                @Html.ActionLink("Add/Change Donors", "Index", "Donors")<br>

                if (Session["isSuperAdmin"]?.ToString() == "True")
                {
                    @Html.ActionLink("Add/Change Admins", "Index", "Admins")<br>
                }

                if (Model is Paradise.Models.Page)
                {
                    <button onclick="savePage('@ViewBag.controllerName', '@Model.page_ID', '@Model.pageName', '@Model.pageDesc')">Save</button>
                }
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logout", @class = "dropdown" }))
                {
                    @Html.AntiForgeryToken()

                    <button>Log Out</button>
                }
            }
        </span>
    }
</li>     