@using Microsoft.AspNet.Identity;

<li class="dropdown">
    @*<script src="~/Scripts/gen_validatorv31.js"></script>*@
    @{
        string imageSrc = String.Empty;
        string imageAlt = String.Empty;
        string userLabel = Session["userName"]?.ToString();

        if (String.IsNullOrEmpty(userLabel))
        {
            userLabel = "Login";
            imageSrc = "/Resources/LoginIcon.png";
            imageAlt = "Login Icon";
        }
        else
        {
            imageSrc = "/Content/Image/" + Session["userName"]?.ToString() + ".png";
            imageAlt = Session["userName"]?.ToString();
        }
    }
    @{
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="accountProfileButton">
            <img src="@imageSrc" alt="@imageAlt">
            <ul id="profileImage">@userLabel</ul>
        </a>

        if (userLabel == "Login")
        {
            <span href="#" class="dropdown-menu" id="accountDropdown">

                @using (Html.BeginForm("LoginValidation", "Account", FormMethod.Post, new { id = "login", @class = "dropdown" }))
                {
                    @Html.AntiForgeryToken()

                    <input type="text" placeholder="User name" id="username" name="username"><br>
                    <input type="password" placeholder="Password" id="password" name="password"><br>

                    <button id="loginSubmit">Login</button> 
                }
            </span>
        }
        else
        {
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="@imageSrc" alt="@imageAlt" class="dropdown-toggle" id="profileImage" data-toggle="dropdown" role="button" aria-haspopup="true"/>
                <ul>@userLabel</ul>
            </a>
            <span href="#" class="dropdown-menu">
                <span>
                    @Html.ActionLink("Add/Change staff", "Index", "Staffs")
                </span>
                <span>
                    @Html.ActionLink("Add/Change donors", "Index", "Donors")
                </span>
                @if (Session["isSuperAdmin"]?.ToString() == "True")
                {
                    <span>
                        @Html.ActionLink("Add/Change Admins", "Index", "Admins")
                    </span>
                }
                @if (Model is Paradise.Models.Page)
                {
                    <span>
                        <button onclick="savePage('@ViewBag.controllerName', '@Model.page_ID', '@Model.pageName', '@Model.pageDesc')">Save</button>
                    </span>
                }
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logout", @class = "dropdown" }))
                {
                    @Html.AntiForgeryToken()

                    @*<span>
                        <button aria-expanded="false" id="logOff">Log Off</button>
                    </span>*@

                    <span>
                        <a href="javascript:document.getElementById('logout').submit()">Log Out</a>
                    </span>
                }
            </span>
        }
    }
</li>     