@model IEnumerable<Paradise.Models.Story>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_EditLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.storyTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.storyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.storyContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.active)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.storyTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.storyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.storyContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.active)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.story_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.story_ID }) |
            @if (Session["isSuperAdmin"]?.ToString() == "True")
            {
                @Html.ActionLink("Delete", "Delete", new { id = item.story_ID })
            }
        </td>
    </tr>
}

</table>
