@model Paradise.Models.Admin

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_EditLayout.cshtml";
}

<div class="container-fluid">
    <h2>Details</h2>

    <div>
        <h4>Admin</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.userName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.userName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.userPassword)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.userPassword)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.superAdmin)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.superAdmin)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Staff.firstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Staff.firstName)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.admin_ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>